.page__standart {
    width: 100%;
    height: 100%;   
    position: relative;

}
.standart__backround {
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: $PrimaryColor;
}

@media (max-width: 2000px) {
    .standart__backround {
        width: 30%;
    }
}

@media (max-width: 1023px) {
    .standart__backround {
        width: 25%;
    }
}

.standart__container {
    padding-top: 90px;
    padding-bottom: 125px;


}
.-container {
}
.standart__text {
}
.standart__subtitle {
}
.-subtitle {
}
.standart__title {
}
.-title {
}
.standart__content {
    margin-top: 72px;

    overflow: hidden;

    transform: translate(0, 0);
    opacity: 1;

    transition: 
        transform 1.5s,
        opacity 1.5s;
}

.standart__content.hidden {
    height: 544px;
    opacity: 0;
    transform: translate(1000px, 0);
}

.standart__content-list-top {

}

.standart__list-bottom {
    margin-top: 32px;
}

.standart__list {
    height: 256px;
    display: flex;
    position: relative;

    transition: all 1s;
}

.standart__list-top {
}
.standart__list-item {
}

.standart__item {
    position: absolute;

    display: flex;
    align-items: center;

    width: 100%;
    max-width: 600px;
    height: 256px;

    margin-right: 30px;
    
    box-shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.50);

    transition: all 1s;
}

.standart__item-second {
    transform: translate(630px, 0);
}

.standart__item-third {
    transform: translate(1260px, 0);
}

//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


.standart__item-images {
    width: 256px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray 0px 0px / 100% 100% no-repeat;
}
.standart__item-content {
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;
    padding: 42px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

transform: translate();
}
.standart__item-price {
    margin-bottom: 5px;
}
.-price {
}
.standart__item-title {
    margin-bottom: 10px;
    text-align: start;
}
.standart__item-text {
    text-align: start;
    flex: 1 1 auto;
}
.standart__item-buttons {
    display: flex;
}
.standart__buy {
    margin-right: 44px;
}
.standart__detail {
}
.standart__arrow-prew {
}
.standart__arrow-prew-line {
}

.standart__arrow-next {
    position: absolute;

    width: 48px;
    height: 48px;

    top: 248px;
    right: 0;

    z-index: 3;
    & img {
        width: 100%;
        height: 100%;
    }
    cursor: pointer;
}

.standart__arrow-next-link {
    display: block;
}

.standart__arrow-next-line {

}
.standart__content-list-bottom {
}
.standart__list-bottom {
}

@media (max-width: 1279px) {
    .standart__content {
        &::after {
            width: 75px;
        }
    }
}

@media (max-width: 767px) {
    .standart__list {
        height: 175px;
    }
    .standart__container {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .standart__title {
        padding: 0 75px;
    }
    .standart__arrow-next {
        top: 168px;
    }
    .standart__item {
        max-width: 400px;
        max-height: 175px;
    }
    .standart__item-content {
        padding: 15px 0 20px 15px;
    }
    .standart__item-title {
        margin-bottom: 5px;
    }
    .standart__buy {
        margin-right: 21px;
    }
    .standart__item-images {
        width: 175px;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .standart__item-text {
        flex: 0 0 auto;
    }
    .standart__item-buttons {
        margin-top: 10px;
    }
}