.page__main {
    height: 768px;
    max-height: 100vh;
    padding-right: 33%;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}
.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-right: 0;
    margin: 0;
}
.main__content {
    padding: 75px 85px 65px 0;
    display: flex;
    flex-direction: column;
    margin-left: 16.347%;
    justify-content: space-between;

    position: relative;
}
.main__content-logo {
    max-width: 110px;
}
.main__content-title {
    color: #415167;
    font-family: 'Montserrat';
    font-size: 3.375em;
    font-weight: 900;
    line-height: 129.63%; /* 70px */

    transform: translate(0, 100%);
    position: absolute;
    z-index: 4;
    opacity: 1;

    animation: openWeb 1.5s ease-in-out;
}


@keyframes openWeb {
    0% {
        opacity: 0;
        transform: translate(-1000px, 100%);
    }
    60% {
        opacity: 1;
        transform: translate(100px, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 100%);
    }
}

.main__personalize {
    position: static;
    padding: 5px;
    color: #F9FBFF;
    background-color: $AccentColor;
    z-index: 5;
}

.main__video-container {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    right: 0;
    width: 100%;
    height: 100%;
    max-width: 58%;

    position: relative;
    z-index: 3;
}
.video {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top center;
}

.video__play {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F9FBFF;

    transition: all 1s;

    z-index: 4;
    &::after {
        content: '';
        top: 13px;
        left: 20px;
        position: absolute;
        border: 12px solid transparent; border-left: 15px solid $AccentColor;
    }
}

.video__play.play {
    opacity: 0;
    &::after {
        top: 12px;
        left: 19px;

        position: absolute;

        content: '';
        width: 3.2px;
        height: 25px;

        border-radius: 10px;
        border: none; border-left: none;
        background-color: $AccentColor;
    }
    &::before {
        top: 12px;
        left: 28px;

        position: absolute;

        content: '';
        width: 3px;
        height: 25px;

        border-radius: 10px;
        background-color: $AccentColor;
    }
}



@media (max-width: 1279.98px) {
    .main__content-title {
        font-size: 2.5em;
    }
}

@media (max-width: 1023.98px) {
    @keyframes openWeb {
        0% {
            opacity: 0;
            transform: translate(-1000px, 0);
        }
        60% {
            opacity: 1;
            transform: translate(100px, 0);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    .page__main {
        height: 100vh;
        padding-right: 330px;
    }
    .main__container {
        flex-direction: column;
    }
    .-container {
    }
    .main__content {
        padding: 50px 0 0 0;
        width: auto;
        margin-left: 0;
    }
    .main__content-logo {
    }
    .main__content-title {
        position: relative;
        font-size: 1.75em;
        max-width: 245px;
        transform: translate(0, 0);
        z-index: 1;
    }
    .main__personalized {

    }
    .main__video-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .video {

    }
}

@media (max-width: 767.98px) {
    .page__main {
        padding: 0;
    }
    .main__container {
        padding: 15px 20px;
    }
}

@media (min-height: 769px) {
    .page__main {
        height: 768px;
    }
}

@media (max-height: 500px) {
    .page__main {
        height: 500px;
      max-height: 100%;  
    }
    .main__content {
        padding-top: 10px;
    }
}