.page__personalized {
    width: 100%;
    height: 100%;

    position: relative;
    background: #F9FBFF;
}

.personalized__background {
    position: absolute;

    top: 0;
    right: 0;

    height: 100%;
    width: 23.15%;

    background: $PrimaryColor;
}
.personalized__container {
    padding-top: 90px;
    padding-bottom: 130px;

}
.personalized__text {
    margin-bottom: 64px;
}
.personalized__text-subtitle {
    margin-bottom: 6px;
}
.personalized__content {
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);

    transition: 
        transform 1.5s,
        opacity 1.5s;
}

.personalized__content.hidden {
    height: 420px;
    opacity: 0;
    transform: translate(1000px, 0);
}

.personalized__content-list {
    height: 640px;
    position: relative;
    display: flex;
}
.personalized__list-item {
    height: 630px;
    width: 385px;
    position: absolute;
    margin-right: 30px;

    display: flex;
    flex-direction: column;

    border: rgba(0, 0, 0, 0.2) 2px solid;

    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

    transition: all 1s;
}
.personalized__item-img {
    width: 100%;
    height: 349px;

    background: lightgray 0px 0px / 100% 100% no-repeat;
    & img {
        width: 100%;
        height: 100%;
    }
}
.personalized__item-content {
    flex: 1 1 auto;

    padding: 42px;

    background-color: #FFF;
}
.personalized__item-priceblock {
    display: flex;
    align-items: center;
}
.personalized__item-price {
    margin-right: 10px;
}
.personalized__item-title {
    text-align: left;
}
.personalized__item-text {
    text-align: left;
}
.personalized__item-buttons {
    margin-top: 40px;

    display: flex;
    align-items: center;
}
.personalized__button-buy {
    margin-right: 80px;
}
.personalized__list-arrow {
    cursor: pointer;
    position: absolute;

    top: 50%;
    right: 0;

    z-index: 10;
}

@media (max-width: 767px) {
    .personalized__list {
        height: 420px;
    }
    .personalized__item {
        height: 410px;
        width: 220px;
    }
    .personalized__container {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .personalized__text {
        padding: 0 60px;
    }
    .personalized__item-img {
        height: 210px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .personalized__item-text {
        flex: 1 1 auto;
    }
    .personalized__item-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        
    }
    .personalized__button {
        margin-top: 0;
    }
    .personalized__button-buy {
        margin-right: 25px;
    }
}